<h1>Toys show</h1>

<h4><%= @toy.name %></h4>
<img src=<%= @toy.toy_image %> style="max-width:150px;">
<p>UPC: <%= @toy.upc %></p>
<p>Pieces: <%= @toy.pieces %></p>
<p>Age: <%= @toy.age_group.age %></p>
<p>Box: <%= @toy.box.name%></p>


<p><%= link_to "Edit Toy", edit_toy_path(@toy) %></p>
<p><%= link_to "All Toys", :toys %></p>