<h3>New User</h3>
<%= form_for @user do |f| %>
	<% if f.object.errors.any?%>
	  <div class="col xs12 s12">
	    <% f.object.errors.full_messages.each do |x|%>
	      <p>Error: <%= x %></p>
	      <p>User was not saved </p>
	    <% end %>
	  </div>
	<% end %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>


	<div>
	   <%= f.label :password %><br />
	   <%= f.password_field :password %>
	</div>

	<div>
	   <%= f.label :password_confirmation %><br />
	   <%= f.password_field :password_confirmation %>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>