<%= form_for @box do |f| %>

<div>
  <% if f.object.errors.any?%>
    <% f.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
    <% end %>
      <li>Box info was not saved</li>
  <% end %>
</div>



<!-- DROPDOWN PICK AN AGE GROUP -->




  <div class="row">
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
  </div>
  <div class="row">
    <%= select("box", "age_group_id", AgeGroup.all.collect {|b| [ b.age, b.id ] },{:include_blank => true}) %>
  </div>
  <div class="row">
    <%= select("toy", "box_id", Box.all.collect {|b| [ b.name, b.id ] },{:include_blank => true}) %>
  </div>
  <div class="row">
    <%= f.label :pieces %>:
    <%= f.text_field :pieces %><br />
  </div>

  <%= f.submit %>
<% end %>

   