<!DOCTYPE html>
<html>
<head>
  <title>TLLrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <% if current_user %>
      <p>Logged in as <%= current_user.email %> </p>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
    	<p>Not Logged In</p>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>




  <%= yield %>




  </body>
</html>
