<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TLLrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>



<body>
        <!--Navigation-->
        <nav class="navbar  blue-grey">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="#">Toy Lending Library</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="waves-effect waves-light">Toys <span class="sr-only">(current)</span></a></li>
                        <li><a href="#" class="waves-effect waves-light">Boxes</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                      <% if current_user %>
                          <li class="nav-item pull-xs-right">
                            <a class="nav-link log">
                              <span class="logStatus">Logged in as <%= current_user.email %> </span>
                              <%= link_to "Logout", :logout, method: :post, :class => "logoutSessionDestroy" %>
                          </li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/.Navigation-->


<div class="container">



  <%= yield %>



</div>


    <footer class="page-footer blue center-on-small-only">
        <div class="container-fluid blue-grey">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">Here you can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center rgba-black-light blue-grey darken-2">
            <div class="container-fluid">
                © 2015 Copyright
            </div>
        </div>

    </footer>

    

    <!-- SCRIPTS -->

    <!-- JQuery -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script type="text/javascript" src="jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="bootstrap.min.js"></script>

    <!-- Material Design Bootstrap -->
    <script type="text/javascript" src="mdb.js"></script>

</body>

